services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/docker/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=http://14.103.123.142:9090/'
      - '--web.enable-lifecycle'
    ports:
      - 9090:9090
    links:
      - alertmanager:alertmanager
    restart: always

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    ports:
      - 9093:9093
    volumes:
      - ./docker/prometheus/alertmanager/:/etc/alertmanager/
      - ./docker/prometheus/alertmanager_data:/etc/alertmanager
    command:
      - '--config.file=./docker/prometheus/alertmanager/alertmanager.yml'
      - '--storage.path=/docker/prometheus'
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - ./docker/grafana/:/etc/grafana/provisioning/
      - grafana_data:/var/lib/grafana
    environment:
      - GF_INSTALL_PLUGINS=camptocamp-prometheus-alertmanager-datasource
    links:
      - prometheus:prometheus
      - alertmanager:alertmanager
    restart: always

volumes:
  prometheus_data: {}
  grafana_data: {}
  alertmanager_data: {}

