<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vivi.framework.iexcelbatch.mapper.CustomSqlMapper">
    <insert id="executeCustomSql">
        insert into ${dto.tableName}
        <foreach collection="dto.columnList" item="item" separator="," open="(" close=")">
            `${item}`
        </foreach>
        values
        <foreach collection="dto.valueList" item="item" separator=",">
            (
            <foreach collection="item" item="value" separator=",">
                #{value}
            </foreach>
            )
        </foreach>
    </insert>


    <insert id="truncateTable">
        truncate table ${tableName}
    </insert>

</mapper>