version: "3.5"
services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    privileged: true
    ports:
      - 6379:6379
    volumes:
      - /docker/redis/data:/data
      - /docker/redis/conf/redis.conf:/etc/redis/single/redis.conf
    command:
      redis-server /etc/redis/single/redis.conf
